extends layout

block styles
    link(rel="stylesheet", href="/css/css-circular-prog-bar.css")
    link(rel="stylesheet", href="/css/dashboard/dashboard.css")

block content
    .graph-cards-area
        .card 
            .title تعداد دوره ها
            .progress-circle.over50.p85
                span 100
                .left-half-clipper
                    .first50-bar
                    .value-bar
        .card 
            .title محصولات
            .progress-circle.over50.p85
                span 200
                .left-half-clipper
                    .first50-bar
                    .value-bar
        .card 
            .title درآمد
            .progress-circle.over50.p85
                span 100
                .left-half-clipper
                    .first50-bar
                    .value-bar

    h1.section-title دوره ها
        i.fa.fa-plus#add-course-btn
    .product-cards-area 
        -for(var i=0; i<courses.length; i++){
            a.card(href="/course/course-view?courseID=#{courses[i]._id}") 
                .image 
                    img(src="#{courses[i].cover}")
                .title= courses[i].title
                .stars 
                    i.fa.fa-star.star
                    i.fa.fa-star.star
                    i.fa.fa-star.star
                    i.fa.fa-star.star
                    i.fa.fa-star.star
                    .star-text (#{courses[i].star} امتیاز)
                .price #{courses[i].price} تومان
        -}
        
        

    include ../components/add-course



    script(src="/js/dashboard.js") 


