extends layout

block styles
    link(rel="stylesheet", href="/css/css-circular-prog-bar.css")
    link(rel="stylesheet", href="/css/dashboard/dashboard.css")

block content
    .graph-cards-area
        .card 
            .title تعداد دوره ها
            .progress-circle.over50.p85
                span= courses.length
                .left-half-clipper
                    //- .first50-bar
                    //- .value-bar
        .card 
            .title محصولات
            .progress-circle.over50.p85
                span= products.length
                .left-half-clipper
                    //- .first50-bar
                    //- .value-bar
        .card 
            .title کاربران
            .progress-circle.over50.p85
                span= users.length
                .left-half-clipper
                    //- .first50-bar
                    //- .value-bar

    h1.section-title دوره ها
        i.fa.fa-plus#add-course-btn
    .product-cards-area 
        -for(var i=0; i<courses.length; i++){
            a.card(href="/course/course-view?courseID=#{courses[i]._id}") 
                .image 
                    img(src="#{courses[i].cover}")
                .title= courses[i].title
                .stars 
                    i.fa.fa-star.star
                    i.fa.fa-star.star
                    i.fa.fa-star.star
                    i.fa.fa-star.star
                    i.fa.fa-star.star
                    .star-text (#{courses[i].star} امتیاز)
                .price #{courses[i].price} ریال
        -}
    h1.section-title محصولات
        i.fa.fa-plus#add-product-btn
    .product-cards-area 
        -for(var i=0; i<products.length; i++){
            a.card(href="/product/product-view?productID=#{products[i]._id}") 
                .image 
                    img(src="#{products[i].cover}")
                .title= products[i].title
                .stars 
                    i.fa.fa-star.star
                    i.fa.fa-star.star
                    i.fa.fa-star.star
                    i.fa.fa-star.star
                    i.fa.fa-star.star
                    .star-text (#{products[i].star} امتیاز)
                .price #{products[i].price} ریال
        -}
    
        

    include ../components/add-course
    include ../components/add-product



    script(src="/js/dashboard.js") 


