doctype html

html
    head
        title آکادمی فناورانه
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="shortcut icon", href="/img/logo.png", type="image/x-icon")
        script(src="/js/jquery-3.5.1.min.js")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/css/home.css')
        link(rel='stylesheet', href='/css/components/footer.css')
    body
        header 
            -if(setting.background.type == 'image')
                img.background(src="#{setting.background.link}")
            -else
                video(id="vid" src="#{setting.background.link}" autoplay muted loop)
            //- .overlay
            .info 
                form(action="/setting/set-contact" method='POST') 
                    .contact 
                        i.fa.fa-phone 
                        input(type="text" name="phone" value="#{typeof(setting.phone) == 'undefined' ? '' : setting.phone}" placeholder="شماره تماس")
                    .contact 
                        i.fa.fa-envelope 
                        input(type="text" name="email" value="#{typeof(setting.email) == 'undefined' ? '' : setting.email}" placeholder="ادرس ایمیل")
                    button.save.float-right(type="submit")
                        i.fa.fa-save
                -if(user){
                    a.link(href="/users/login") پنل کاربری
                        i.fa.fa-user
                -}else{
                    a.link(href="/users/login") ثبت نام
                        i.fa.fa-user
                    a.link(href="/users/login") ورود
                        i.fa.fa-sign-in
                -}
            nav 
                a.logo(href="/") 
                    img(src="/img/logo.png")
                a.link(href="/") خانه
                a.link(href="/course") دوره های آموزشی
                a.link(href="#") فروشگاه
                a.link(href="#") خدمات
                a.link(href="#") اخبار
                a.link(href="#") تماس با ما
                a.link(href="#") درباره ما
                a.icon(href="#") 
                    i.fa.fa-moon-o
                a.icon(href="#") 
                    i.fa.fa-search
                a.icon(href="#") 
                    i.fa.fa-shopping-cart
            .title-view 
                form(action="/setting/set-titles" method='POST') 
                    h2
                        input(type="text" name="title1" value="#{typeof(setting.title1) == 'undefined' ? '' : setting.title1}" placeholder="عنوان 1")
                    h1
                        input(type="text" name="title2" value="#{typeof(setting.title2) == 'undefined' ? '' : setting.title2}" placeholder="عنوان 2")
                    h2.border
                        input(type="text" name="title3" value="#{typeof(setting.title3) == 'undefined' ? '' : setting.title3}" placeholder="عنوان 3")
                    button.save(type="submit")
                        i.fa.fa-save
            img.top-logo(src="/img/logo.png")
            form.upload-logo(action="/setting/set-logo" enctype="multipart/form-data" method='POST') 
                input(type="file" name="myFile" accept="image/png")
                button.save(type="submit")
                    i.fa.fa-cloud-upload
            form.upload-background(action="/upload/set-cover" enctype="multipart/form-data" method='POST') 
                input(type="file" name="myFile")
                button.save(type="submit")
                    i.fa.fa-cloud-upload
        section 
            .square-links 
                a.orange(href="/course") 
                    i.fa.fa-graduation-cap
                    .text دوره‌های آموزشی
                a.green(href="#") 
                    i.fa.fa-microchip
                    .text محصولات آموزشی
                a.blue(href="#") 
                    i.fa.fa-newspaper-o
                    .text اخبار
                a.red(href="#") 
                    i.fa.fa-shopping-cart
                    .text فروشگاه
        section 
            .click-links 
                a(href="/course") 
                    h2 
                        | کلیک کنید
                        i.fa.fa-chevron-left 
                    h1 بهترین 
                        .orange دوره های آموزشی 
                        | رایگان
                    h2 
                        i.fa.fa-chevron-right
                        | کلیک کنید
                a(href="#") 
                    h2 
                        | کلیک کنید
                        i.fa.fa-chevron-left 
                    h1 بهترین 
                        .orange محصولات آموزشی 
                        | رایگان
                    h2 
                        i.fa.fa-chevron-right
                        | کلیک کنید
        section 
            .cards-view 
                a(href="#") 
                    img(src="/img/home/cover1.jpg")
                    h1.title عنوان دوره
                    .stars 
                        i.fa.fa-star.star
                        i.fa.fa-star.star
                        i.fa.fa-star.star
                        i.fa.fa-star.star
                        i.fa.fa-star.star
                        .star-text (5 امتیاز)
                    .comments 
                        i.fa.fa-comment
                        | 65
                    .price 3,000,000 تومان
                a(href="#") 
                    img(src="/img/home/cover2.jpg")
                    h1.title عنوان دوره
                    .stars 
                        i.fa.fa-star.star
                        i.fa.fa-star.star
                        i.fa.fa-star.star
                        i.fa.fa-star.star
                        i.fa.fa-star.star
                        .star-text (5 امتیاز)
                    .comments 
                        i.fa.fa-comment
                        | 65
                    .price 3,000,000 تومان
                a(href="#") 
                    img(src="/img/home/cover3.jpg")
                    h1.title عنوان دوره
                    .stars 
                        i.fa.fa-star.star
                        i.fa.fa-star.star
                        i.fa.fa-star.star
                        i.fa.fa-star.star
                        i.fa.fa-star.star
                        .star-text (5 امتیاز)
                    .comments 
                        i.fa.fa-comment
                        | 65
                    .price 3,000,000 تومان
                a(href="#") 
                    img(src="/img/home/cover4.jpg")
                    h1.title عنوان دوره
                    .stars 
                        i.fa.fa-star.star
                        i.fa.fa-star.star
                        i.fa.fa-star.star
                        i.fa.fa-star.star
                        i.fa.fa-star.star
                        .star-text (5 امتیاز)
                    .comments 
                        i.fa.fa-comment
                        | 65
                    .price 3,000,000 تومان
        include ./components/footer
        script.
            document.getElementById('vid').play();


