doctype html

html
    head
        title آکادمی فناورانه 
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="shortcut icon", href="/img/logo.png", type="image/x-icon")
        script(src="/js/jquery-3.5.1.min.js")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/css/home.css')
        link(rel='stylesheet', href='/css/components/footer.css')
    body
        header 
            -if(setting.background.type == 'image')
                img.background(src="#{setting.background.link}")
            -else
                video(id="vid" src="#{setting.background.link}" autoplay muted loop)
            //- .overlay
            .info 
                .contact 
                    i.fa.fa-phone 
                    a(href="tel:#{setting.phone}")= setting.phone
                .contact 
                    i.fa.fa-envelope 
                    | #{setting.email}
                -if(user){
                    a.link(href="/users/login")= user.fullname == ''? 'پنل کاربری' : user.fullname
                        i.fa.fa-user
                -}else{
                    a.link(href="/users/login") ثبت نام
                        i.fa.fa-user
                    a.link(href="/users/login") ورود
                        i.fa.fa-sign-in
                -}
            nav 
                a.logo(href="/") 
                    img(src="/img/logo.png")
                a.link(href="/") خانه
                a.link(href="/course") دوره های آموزشی
                a.link(href="/product") فروشگاه
                a.link(href="#") خدمات
                a.link(href="#") اخبار
                a.link(href="#") تماس با ما
                a.link(href="#") درباره ما
                //- a.icon(href="#") 
                //-     i.fa.fa-moon-o
                a.icon(href="search") 
                    i.fa.fa-search
                a.icon(href="/dashboard/cart") 
                    i.fa.fa-shopping-cart
                    //- -if(user && user.cart.length > 0)
                    //-     .notif-num= user.cart.length
            .title-view 
                h2= setting.title1
                h1= setting.title2
                h2.border= setting.title3
            img.top-logo(src="/img/logo.png")
        
        section 
            .square-links 
                a.orange(href="/course") 
                    i.fa.fa-graduation-cap
                    .text دوره‌های آموزشی
                a.green(href="/product") 
                    i.fa.fa-microchip
                    .text محصولات آموزشی
                a.blue(href="#") 
                    i.fa.fa-newspaper-o
                    .text اخبار
                a.red(href="/product") 
                    i.fa.fa-shopping-cart
                    .text فروشگاه
        section 
            .click-links 
                a(href="/course") 
                    h2 
                        | کلیک کنید
                        i.fa.fa-chevron-left 
                    h1 بهترین 
                        .orange دوره های آموزشی 
                        | رایگان
                    h2 
                        i.fa.fa-chevron-right
                        | کلیک کنید
                a(href="/product") 
                    h2 
                        | کلیک کنید
                        i.fa.fa-chevron-left 
                    h1 بهترین 
                        .orange محصولات آموزشی 
                        | رایگان
                    h2 
                        i.fa.fa-chevron-right
                        | کلیک کنید
        section 
            .cards-view 
                h1.section-title دوره های آموزشی 
                    a(href="/course")  مشاهده بیشتر ...
                .next-btn#next-btn1
                    i.fa.fa-chevron-left
                .prev-btn#prev-btn1
                    i.fa.fa-chevron-right
                .horisontal-scroll#horisontal-scroll1
                    .scroll-content
                        -for(var i=0; i<courses.length; i++){
                            a(href="/course/course-view?courseID=#{courses[i]._id}") 
                                img(src="#{courses[i].cover}")
                                h1.title= courses[i].title
                                .stars 
                                    -for(var j=0; j<courses[i].star; j++)
                                        i.fa.fa-star.star
                                    -for(var j=0; j<5 - courses[i].star; j++)
                                        i.fa.fa-star-o.star-o
                                    .star-text (#{courses[i].star} امتیاز)
                                .comments 
                                    i.fa.fa-comment
                                    | #{courses[i].comments.length}
                                .price #{courses[i].price} تومان
                        -}
        section 
            .cards-view 
                h1.section-title محصولات
                    a(href="/product")  مشاهده بیشتر ...
                .next-btn#next-btn2
                    i.fa.fa-chevron-left
                .prev-btn#prev-btn2
                    i.fa.fa-chevron-right
                .horisontal-scroll#horisontal-scroll2
                    .scroll-content
                        -for(var i=0; i<products.length; i++){
                            a(href="/product/product-view?productID=#{products[i]._id}") 
                                img(src="#{products[i].cover}")
                                h1.title= products[i].title
                                .stars 
                                    -for(var j=0; j<products[i].star; j++)
                                        i.fa.fa-star.star
                                    -for(var j=0; j<5 - products[i].star; j++)
                                        i.fa.fa-star-o.star-o
                                    .star-text (#{products[i].star} امتیاز)
                                .comments 
                                    i.fa.fa-comment
                                    | #{products[i].comments.length}
                                .price #{products[i].price} تومان
                        -}
        
        include ./components/footer
        script.
            document.getElementById('vid').play();
        script(src="/js/home.js") 

