extends ../layout

block styles
    link(rel="stylesheet", href="/css/course.css")

block content
    .route 
        a(href="/product") فروشگاه
    .product-cards-area 
        -for(var i=0; i<products.length; i++){
            a.card(href="/product/product-view?productID=#{products[i]._id}") 
                .image 
                    img(src="#{products[i].cover}")
                .title= products[i].title
                .stars
                    -for(var j=0; j<products[i].star; j++)
                        i.fa.fa-star.star
                    -for(var j=0; j<5 - products[i].star; j++)
                        i.fa.fa-star-o.star-o
                    .star-text (#{products[i].star} امتیاز)
                .price #{products[i].price} ریال
        -}