extends ../layout

block styles
    link(rel="stylesheet", href="/css/course.css")

block content
    .route 
        a(href="/course") دوره های آموزشی 
    .product-cards-area 
        -for(var i=0; i<courses.length; i++){
            a.card(href="/course/course-view?courseID=#{courses[i]._id}") 
                .image 
                    img(src="#{courses[i].cover}")
                .title= courses[i].title
                .stars
                    -for(var j=0; j<courses[i].star; j++)
                        i.fa.fa-star.star
                    -for(var j=0; j<5 - courses[i].star; j++)
                        i.fa.fa-star-o.star-o
                    .star-text (#{courses[i].star} امتیاز)
                .price #{courses[i].price} ریال
        -}